doctype html
html
  head
    title My Bakery
    include stylesheets.pug
    include nav.pug
  body
    h1 My Bakery's Name
    img(src='http://i.imgur.com/HR72Bah.jpg')
    h3 bio
    p
      Pabst pickled raclette mustache, put a bird on it lumbersexual banh mi meh literally four loko YOLO truffaut. Everyday carry chicharrones cliche microdosing. Tacos ramps humblebrag, everyday carry celiac gluten-free cred flexitarian. Disrupt viral seitan asymmetrical. Fam try-hard brooklyn raclette, occupy gastropub fap. Wayfarers retro fashion axe drinking vinegar, fap coloring book cardigan knausgaard. Try-hard prism blue bottle, truffaut you probably haven't heard of them tofu kale chips meditation.
