.nav-bar
  a(class={active: thisPage !== "home"} href='/') Home |
  a(class={active: thisPage !== "inventory"} href='/inventory') Inventory |
  a(class={active: thisPage !== "about"} href='/about') About
